<a href="https://colab.research.google.com/github/Davianka/food-sales-predictions/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
sales_predictions = '/content/drive/MyDrive/sales_predictions (1).csv'
df= pd.read_csv(sales_predictions)
df.head()
   #step 1 is to import the data over to start cleaning

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [6]:
df.shape 
 #gathering as much info about the data as possible

(8523, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
df.isna().sum()
#seeing what columns might be missing Data. Will be addressing how to clean missing values.

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [10]:
df.duplicated().sum() #there are no duplicates

0

In [11]:
df.nunique() 
#seeing how much unique data there is to use on future analysis

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [12]:
#about 28 percent of outlet size  is missing, so I wanted to see the categories.  
#I don't feel comfortable deleting data at this point,  outlet size might affect
#sales, i will fill those as 'missing'
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [19]:
df['Outlet_Size'].fillna('Missing', inplace=True)

In [20]:
df['Outlet_Size'].value_counts()

Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [29]:
  df['Item_Identifier'].value_counts()
#checking to see if any item identifiers have similar code to try to come up with a better mean for missing item weights

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [24]:
 df['Item_Type'].value_counts()#there are no inconsistant categories to merge

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [25]:
df[['Item_Identifier', 'Item_Weight', 'Item_Type']]

     Item_Identifier  Item_Weight              Item_Type
0              FDA15        9.300                  Dairy
1              DRC01        5.920            Soft Drinks
2              FDN15       17.500                   Meat
3              FDX07       19.200  Fruits and Vegetables
4              NCD19        8.930              Household
...              ...          ...                    ...
8518           FDF22        6.865            Snack Foods
8519           FDS36        8.380           Baking Goods
8520           NCJ29       10.600     Health and Hygiene
8521           FDN46        7.210            Snack Foods
8522           DRG01       14.800            Soft Drinks

[8523 rows x 3 columns]

In [33]:
filter_FDW13 = df['Item_Identifier'] == 'FDW13'
filter_fruits = df['Item_Type'] == 'Fruits and Vegetables'
df.loc[ filter_FDW13 & filter_fruits]
#i wanted to see if there were any similarities within the most popular item identifier and item type

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [35]:
filter_snacks = df['Item_Type']== 'Snack Foods'
filter_household = df['Item_Type'] =='Household'
df.loc[ filter_snacks & filter_FDW13]
#i wanted to see if there were any similarities within the most popular item identifier and item type

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [42]:
mean_weight = df['Item_Weight'].mean()  
df['Item_Weight'].fillna(mean_weight, inplace=True)
df.isna().sum()
##I decided to fill the missing weight values with the average weight. There are no more missing values

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [37]:
df['Item_Weight'].mean() 
#checking mean, max, and minm of numerical columns

12.857645184136183

In [39]:
df['Item_Weight'].mode()

0    12.15
dtype: float64

In [40]:
df['Item_Weight'].min()

4.555

In [41]:
df['Item_Weight'].max()

21.35

In [45]:
df['Item_Visibility'].mean() #max(0.32839), min(0.0), mean(0.06613)

0.06613202877895127

In [48]:
df['Item_MRP'].mean() #max (266.8884), min(31.29), mean(140.99278)

140.9927819781768

In [53]:
df['Outlet_Establishment_Year'].mode() #max(2009), min(1985), mean(1997.8318667), mode(1985)

0    1985
dtype: int64

In [60]:
df['Item_Outlet_Sales'].mean() #max(3086.9648), Min(33.29), mean(2181.2889), mode(958.75)

2181.2889135750365